In [1]:
!git clone https://github.com/Foursteps-tech/Machine_Learning.git

Cloning into 'Machine_Learning'...
remote: Enumerating objects: 72, done.
remote: Counting objects: 100% (72/72), done.
remote: Compressing objects: 100% (60/60), done.
remote: Total 72 (delta 23), reused 45 (delta 10), pack-reused 0
Unpacking objects: 100% (72/72), done.

In [2]:
from pandas import read_csv
import numpy as np
import sklearn
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
dataframe = read_csv("Machine_Learning/Classification/iris.csv")
dataframe.head()

   sepal.length  sepal.width  petal.length  petal.width      Variety
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
dataset = dataframe.values
data = dataset[:,0:4].astype(float)
labels = dataset[:,4]

In [5]:
(trainData, testData, trainLabels, testLabels) = train_test_split(np.array(data),
	np.array(labels), test_size=0.25, random_state=42)

In [27]:
#weights = uniform, distance
model = KNeighborsClassifier(n_neighbors=9,weights='distance')

In [28]:
model.fit(trainData, trainLabels)

KNeighborsClassifier(n_neighbors=9, weights='distance')

In [29]:
print(model.score(trainData, trainLabels))

1.0

In [30]:
print(model.score(testData, testLabels))

1.0

In [31]:
predictions = model.predict(testData)

In [32]:
print(classification_report(testLabels, predictions))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        15
Iris-versicolor       1.00      1.00      1.00        11
 Iris-virginica       1.00      1.00      1.00        12

       accuracy                           1.00        38
      macro avg       1.00      1.00      1.00        38
   weighted avg       1.00      1.00      1.00        38